# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/portfolio-website/node_modules

# next.js
/portfolio-website/.next/
/portfolio-website/out/

# production
/portfolio-website/build

# debug
/portfolio-website/npm-debug.log*
/portfolio-website/yarn-debug.log*
/portfolio-website/yarn-error.log*
/portfolio-website/.pnpm-debug.log*

# env files
/portfolio-website/.env*

# vercel
/portfolio-website/.vercel

# typescript
/portfolio-website/*.tsbuildinfo
/portfolio-website/next-env.d.ts